@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@font-face {
	font-family: 'Impact';
	src: url('/fonts/Impact.woff'), url('/fonts/Impact.woff2');
}
